LD36/LD36/Debug/*
LD36/LD36/Release/*
LD36/LD36/Playable Build/*
LD36/LD36.VC.VC.opendb
*.obj
*.exe
*.pch
LD36/LD36.VC.opendb
LD36/ipch/LD36-d14bd72b/LD36-14c02ca5.ipch
LD36/LD36.sdf
LD36/.vs/LD36/v14/.suo
